---
import Container from "@components/Container.astro";
import Header from "./Header.astro";
import ShinyButton from "./ShinyButton.astro";
import Linkedin from "@icons/Linkedin.svg";
import Github from "@icons/Github.svg";
import Mail from "@icons/Mail.svg";
---

<Container className="h-screen p-4">
  <div class="min-h-screen mt-32 flex flex-col gap-10">
    <p
      class="text-8xl font-geist font-bold text-default-dark dark:text-default-light"
    >
      ¡Hey!, soy <span class="text-yellow-300 dark:text-[#fff562]">Josue</span>
    </p>

    <p
      class="prose text-lg font-geist font-semibold text-default-dark dark:text-default-light opacity-80 hover:opacity-100 duration-300"
    >
      FullStack Web Developer with +4 years building awesome platforms and
      contribuiting in project around the world. <span
        class="text-yellow-500 dark:text-[#fff562]"
      >
        I love creating beautiful UI's.</span
      >
    </p>

    <div class="flex gap-2">
      <a
        href="linkedin.com/in/josueaguilardev"
        class="flex items-center w-100 px-[1.2em] py-[0.4em] rounded-full border-2 border-neutral-500 dark:border-[#353535] dark:hover:bg-[#222] duration-300"
      >
        <ShinyButton animationDuration={4} className="gap-1.5">
          <Linkedin size={24} class="text-neutral-600 dark:text-neutral-500" />
          Linkedin
        </ShinyButton>
      </a>

      <a
        href="linkedin.com/in/josueaguilardev"
        class="flex items-center w-100 px-[1.2em] py-[0.4em] rounded-full border-2 border-neutral-500 dark:border-[#353535] dark:hover:bg-[#222] duration-300"
      >
        <ShinyButton animationDuration={4} className="gap-1.5">
          <Github size={24} class="text-neutral-600 dark:text-neutral-500" />
          Github
        </ShinyButton>
      </a>

      <a
        href="linkedin.com/in/josueaguilardev"
        class="flex items-center w-100 px-[1.2em] py-[0.4em] rounded-full border-2 border-neutral-500 dark:border-[#353535] dark:hover:bg-[#222] duration-300"
      >
        <ShinyButton animationDuration={4} className="gap-1.5">
          <Mail size={24} class="text-neutral-600 dark:text-neutral-500" />
          josueaguilardev@gmail.com
        </ShinyButton>
      </a>
    </div>
  </div>
</Container>
