---
import Container from "@components/Container.astro";
import ShinyButton from "./ShinyButton.astro";
import Linkedin from "@icons/Linkedin.svg";
import Github from "@icons/Github.svg";
import Mail from "@icons/Mail.svg";
import Header from "./Header.astro";
---

<Container className="sm:min-h-screen sm:pt-38 pt-20 py-32">
  <div class="flex flex-col gap-10">
    <p
      class="flex sm:text-8xl text-7xl font-geist font-bold text-default-dark dark:text-default-light group"
    >
      <span>¡Hey!, I'm <span class="gradientText">Josue</span></span>
      <img
        alt="my-personal-photo"
        class="group-hover:opacity-100 opacity-0 transition-all duration-500 size-[75px] rounded-full ms-4 -mt-10"
        loading="lazy"
        src="cat-photo-profile.webp"
      />
    </p>

    <p
      class="prose sm:text-lg text-sm font-geist font-semibold text-default-dark dark:text-default-light duration-300"
    >
      FullStack Web Developer with +4 years building awesome platforms and
      contribuiting in project around the world. <span
        class="text-yellow-500 dark:text-[#fff562]"
      >
        I love creating beautiful UI's.</span
      >
    </p>

    <div class="flex flex-wrap gap-2">
      <a
        target="_blank"
        href="https://www.linkedin.com/in/josueaguilardev"
        class="flex items-center sm:px-[1.2em] sm:py-[0.4em] px-3.5 py-1.5 rounded-full border-2 border-neutral-500 dark:border-[#353535] dark:hover:bg-[#222] duration-300"
      >
        <ShinyButton animationDuration={4} className="gap-1.5">
          <Linkedin
            class="text-neutral-600 dark:text-neutral-500 sm:size-6 size-4.5"
          />
          Linkedin
        </ShinyButton>
      </a>

      <a
        target="_blank"
        href="https://github.com/josueaguilarr"
        class="flex items-center sm:px-[1.2em] sm:py-[0.4em] px-3.5 py-1.5 rounded-full border-2 border-neutral-500 dark:border-[#353535] dark:hover:bg-[#222] duration-300"
      >
        <ShinyButton animationDuration={4} className="gap-1.5">
          <Github
            class="text-neutral-600 dark:text-neutral-500 sm:size-6 size-4.5"
          />
          Github
        </ShinyButton>
      </a>

      <a
        target="_blank"
        href="mailto:josueaguilardev@gmail.com"
        class="flex items-center sm:px-[1.2em] sm:py-[0.4em] px-3.5 py-2 rounded-full border-2 border-neutral-500 dark:border-[#353535] dark:hover:bg-[#222] duration-300"
      >
        <ShinyButton animationDuration={4} className="gap-1.5">
          <Mail
            class="text-neutral-600 dark:text-neutral-500 sm:size-6 size-4.5"
          />
          josueaguilardev@gmail.com
        </ShinyButton>
      </a>
    </div>
  </div>
</Container>
