---
import Container from "@components/Container.astro"
---


<Container>
    <div class="flex justify-between pt-32 pb-6">
        <p class="font-geist font-medium text-md dark:text-default-light text-default-dark">Josue Aguilar - {new Date().getFullYear()}</p>
        <p class="font-geist font-medium text-md dark:text-default-light text-default-dark group">
           🚀 Improving every day
        </p>
    </div>
</Container>