---
import "../global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.webp" />
    <meta name="description" content="Improving every day" />
    <meta
      name="keywords"
      content="josueaguilardev, software engineer, web developer, software developer"
    />
    <title>Josué Aguilar - Software Engineer</title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://josueaguilardev.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Josué Aguilar - Software Engineer" />
    <meta property="og:description" content="Improving every day" />
    <meta property="og:image" content="/readme_img.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="josueaguilardev.vercel.app" />
    <meta
      property="twitter:url"
      content="https://josueaguilardev.vercel.app/"
    />
    <meta name="twitter:title" content="Josué Aguilar - Software Engineer" />
    <meta name="twitter:description" content="Improving every day" />
    <meta name="twitter:image" content="/readme_img.png" />
  </head>
  <body>
    <main
      class="bg-neutral-100/80 dark:bg-[#171717] min-h-screen relative w-full px-4"
    >
      <div
        class="fixed inset-0 z-10 pointer-events-none"
        style={{
          background:
            "radial-gradient(ellipse 45% 45% at 50% 0%, rgba(251, 191, 36, 0.25), transparent 70%)",
        }}
      >
      </div>

      <slot />
    </main>
  </body>
</html>
