---
import "../global.css"
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Josué Aguilar - Software Engineer</title>
  </head>
  <body>
    <main class="bg-neutral-100/80 dark:bg-[#171717] min-h-screen w-full px-4">
      <slot />
    </main>
  </body>
</html>

<style>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
</style>
