---
import "../global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.webp" />
    <meta name="description" content="Improving every day" />
    <meta
      name="keywords"
      content="josueaguilardev, software engineer, web developer, software developer"
    />
    <title>Josué Aguilar - Software Engineer</title>
  </head>
  <body>
    <main
      class="bg-neutral-100/80 dark:bg-[#171717] min-h-screen relative w-full px-4"
    >
      <div
        class="fixed inset-0 z-10 pointer-events-none"
        style={{
          background:
            "radial-gradient(ellipse 45% 45% at 50% 0%, rgba(251, 191, 36, 0.25), transparent 70%)",
        }}
      >
      </div>
      
      <slot />
    </main>
  </body>
</html>
